@import './init';
body {
	background-color: $tint3;
}
.inner {
	margin: auto;
	box-sizing: border-box;
	@include media('sm') {
		width: min(calc(100% - 2vw),$mobile)
	}
}

// =====================================================
// Category
.category {
	background: $white;
	padding: 0 2rem;
	margin-bottom: 3rem;
	&_group {
		width: 100%;
		padding-bottom: 2vw;
		@include df(row, space-between) {
			flex-wrap: wrap;
			row-gap: 2rem;
		}
	}
	&_title_wrap {
		@include df(row, space-between, baseline);
		@include padding(1rem, 0, 0, 0);
		button {
			background: transparent;
			border: 1px solid transparent;
			cursor: pointer;
			width: 40px;
			height: 40px;
			line-height: 1;
			transition: all 0.5s cubic-bezier(0.94, 0.05, 0.09, 0.53);
			span {
				display: block;
				color: $shade6;
			}
			&:hover {
				background: $tint3;
				border: 1px solid $tint1;
				span {
					color: $shade7;
				}
			}
		}
	}
}
// =====================================================
// Recipe
.list {
	@include item(30%);
	max-width: 30%;
	@include media('sm') {
		@include item(45%);
		max-width: 45%;
	}
	@include media('md') {
		@include item(30%);
		max-width: 30%;
	}
	img {
		width: 100%;
		height: 220px;
		object-fit: cover;
	}
	.text_wrap {
		@include df(row, space-between);
		.body_lg {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.badge {
			background-color: $tint2;
			border-radius: $rem;
			@include padding(1rem, 0.2rem, 1rem, 0.2rem);
			@include align();
			white-space: nowrap;
		}
	}
}
